body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.otp-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height:300px;
	align-content:center;
}

#verification_heading {
    margin-bottom: 10px;
}

#verification_subtext {
    margin-bottom: 20px;
    color: #666;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.code {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
